@inject DialogService DialogService
@inject IPacienteService _pacienteService
@inject IAgendaService _agendaService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

@if (MensagemErro is not null)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
        @MensagemErro
    </RadzenAlert>
}
<RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Visible="@isLoading" />
<RadzenTemplateForm TItem="AgendaDTO" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Paciente" />
        </div>
        <div class="col">
            <RadzenDropDown Style="width:300px" TValue="int" @bind-Value="PacienteID" Placeholder="Selecione..." AllowFiltering="true"
                            Data="@(pacientes)" TextProperty="Nome" ValueProperty="Id" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Selecione..." }})" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Tipo da Consulta" />
        </div>
        <div class="col">
            <RadzenRadioButtonList @bind-Value="model.TipoConsulta" TValue="int" Change=@(args => ValidaAtendimento(model.TipoConsulta))>
                <Items>
                    <RadzenRadioButtonListItem Text="Online" Value="1" />
                    <RadzenRadioButtonListItem Text="Presencial" Value="2" />
                    <RadzenRadioButtonListItem Text="Primeiro Atendimento" Value="3" />
                </Items>
            </RadzenRadioButtonList>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Valor da Sessão" Visible=@PrimeiroAtendimento/>
        </div>
        <div class="col">
            <RadzenNumeric Format="c" ShowUpDown="false" Name="ValorSessao" @bind-Value="model.ValorSessao" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Visible=@PrimeiroAtendimento />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Tipo da Recorrencia" />
        </div>
        <div class="col">
            <RadzenRadioButtonList @bind-Value="model.TipoRecorrencia" TValue="int" Change=@(args => ValidaRecorrencia(model.TipoRecorrencia))>
                <Items>
                    <RadzenRadioButtonListItem Text="Semanal" Value="5" />
                    <RadzenRadioButtonListItem Text="Quinzenal" Value="4" />
                    <RadzenRadioButtonListItem Text="Nenhuma" Value="0" />
                </Items>
            </RadzenRadioButtonList>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Quantidade de recorrências" Visible=@AtivaRecorrencia />
        </div>
        <div class="col">
            <RadzenNumeric ShowUpDown="false" TValue="int" @bind-Value="model.NumeroRecorrencias" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Visible=@AtivaRecorrencia />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Hora Inicio" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.InicioSessao" Name="InicioSessao" ShowTime="true" />
            <RadzenRequiredValidator Text="Data inicio é obrigatória" Component="InicioSessao" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Hora Fim" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="FimSessao" @bind-Value="@model.FimSessao" ShowTime="true" />
            <RadzenRequiredValidator Component="FimSessao" Text="Data fim é obrigatória" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Deseja enviar email para agendamento ?" />
        </div>
        <div class="col">
            <RadzenCheckBox @bind-Value=@emailAgendamento Name="EmailAgendamento" />
            <RadzenLabel Text="" Component="EmailAgendamento" class="rz-ms-2" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public DateTime InicioSessao { get; set; }

    [Parameter]
    public DateTime FimSessao { get; set; }

    public string? MensagemErro { get; set; }

    public bool PrimeiroAtendimento = true;

    public bool AtivaRecorrencia = false;

    public AgendaDTO model = new();

    public EmailAgendaDTO emailAgenda = new();

    IEnumerable<PacienteDTO>? pacientes;

    public PacienteDTO? pacienteSelecionado;

    public int PacienteID { get; set; }

    public bool isLoading = false;

    public bool emailAgendamento;

    public void ValidaAtendimento(int TipoAtendimento)
    {
        if (TipoAtendimento == 3)
            PrimeiroAtendimento = false;
        else
            PrimeiroAtendimento = true;
    }

    public void ValidaRecorrencia(int TipoRecorrencia)
    {
        if (TipoRecorrencia == 0)
            AtivaRecorrencia = false;
        else
            AtivaRecorrencia = true;
    }

    protected override async Task OnInitializedAsync()
    {
        model.TipoConsulta = 1;
        await base.OnInitializedAsync();
        try
        {
            await CarregarPacientes();
        }
        catch (UnauthorizedAccessException)
        {
            NavigationManager.NavigateTo("notauthorized");
        }
        catch (Exception ex)
        {
            MensagemErro = $"Erro ao carregar os pacientes : {ex.Message}";
        }
    }

    protected override void OnParametersSet()
    {
        model.InicioSessao = InicioSessao;
        model.FimSessao = FimSessao;
    }

    public async void OnSubmit(AgendaDTO model)
    {
        try
        {
            isLoading = true;

            model.StatusConsulta = 4;
            model.PacienteId = PacienteID;

            var pacienteNome = GetNomePaciente(pacientes, PacienteID);

            model.PacienteNome = pacienteNome;
            model.EmailAgendamento = emailAgendamento;
            emailAgenda.PacienteNome = pacienteNome;
            emailAgenda.InicioSessao = model.InicioSessao;
            emailAgenda.FimSessao = model.FimSessao;
            emailAgenda.NumeroRecorrencias = model.NumeroRecorrencias;
            emailAgenda.TipoRecorrencia = model.TipoRecorrencia;

            //model.PacienteNome = 
            var agendaResult = await _agendaService.CreateAgenda(model);

            if (agendaResult.EmailEnviado)
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Aviso", Detail = "Email de agendamento enviado com sucesso !", Duration = 4000 });
            else
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Aviso", Detail = "Agendamento cadastrado com sucesso, porém, o email não foi enviado !", Duration = 4000 });
            //Reset();
            DialogService.Close(model);
            MensagemErro = null;
            isLoading = false;
        }
        catch (Exception ex)
        {
            MensagemErro = $"Erro ao criar o agendamento : {ex.Message}";
            DialogService.Refresh();
        }
    }
    void Reset()
    {
        model = new AgendaDTO();
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);

        //console.Log($"{message.Severity} notification");
    }

    async Task CarregarPacientes()
    {
        try
        {
            pacientes = await _pacienteService.GetPacientes();
            pacientes = pacientes.Where(b => b.Ativo == 1);
        }
        catch (Exception ex)
        {
            MensagemErro = $"Erro ao carregar os pacientes : {ex.Message}";
        }
    }

    public string GetNomePaciente(IEnumerable<PacienteDTO> pacientes, int id) => pacientes.First(c => c.Id == id).Nome;

    public string GetEmailPaciente(IEnumerable<PacienteDTO> pacientes, int id) => pacientes.First(c => c.Id == id).Email;
}